[submodule "src/gz_uas_sim"]
	path = src/gz_uas_sim
	url = git@github.com:laddcs/gz_uas_sim.git
	branch = main
[submodule "src/uas_test"]
	path = src/uas_test
	url = git@github.com:laddcs/uas_test.git
	branch = main
[submodule "src/external/manif"]
	path = src/external/manif
	url = https://github.com/artivis/manif.git
[submodule "src/external/g2o"]
	path = src/external/g2o
	url = https://github.com/RainerKuemmerle/g2o.git
[submodule "src/external/px4_ros_com"]
	path = src/external/px4_ros_com
	url = https://github.com/PX4/px4_ros_com.git
[submodule "src/external/px4_msgs"]
	path = src/external/px4_msgs
	url = https://github.com/PX4/px4_msgs.git
[submodule "gSDK"]
	path = src/external/gSDK
	url = git@github.com:brycetford/gSDK.git
[submodule "src/HardwareManagers"]
	path = src/HardwareManagers
	url = git@github.com:laddcs/HardwareManagers.git
